// COMMON CSS =====================================================================================
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif, 'Poppins';
    color: white;
}
body {
    background: #2e2b2b;
    // font-size: 1.6rem;
    // word-wrap: break-word;
    // line-height: 1.7;
    // font-weight: 700;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    display: inline-block;
}
span{
    display: inline-block;
}
img{
    max-width: 100%;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
.d-flex {
    display: flex;
    align-items: center;
}
.big-heading{
    font-size: 50px;
    font-weight: 700;
}
.mid-heading{
    font-size: 30px;
    font-weight: 700;
}
.small-heading{
    font-size: 22px;
    font-weight: 700;
}

.text{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
}

.btn{
    background:#ea4343;
    padding: 15px 46px;
    font-weight: 700;
    border-radius: 5px;
    white-space: nowrap;
    border: 2px solid #ea4343;
    transition: all 0.3s ease;
    &:hover{
        background-color: #2e2b2b;
    }
}

// HEADER  =====================================================================================

.header{
    padding: 15px 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #111111;
}
.nav {
    justify-content: space-between;
}
.logo{
    font-weight: 600; 
    font-size: 40px;
    // max-width: 85px;
    // height: 34px;
}
.nav_list {
    justify-content: space-between;
    gap: 30px;
}
.nav_link{
    font-weight: 600;
    font-size: 1.2rem;
   &:hover{
     color:#ea4343;
    }
}

.nav_link:after {
    transition: all ease-in-out .2s;
    background: #ea4343;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.nav_link:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.hamburger{
    display: none;
}

.line{
    width: 23px;
    height: 2px;
    background: white;
    margin-bottom:4px;
    display: block;
   
}
.line:last-child{
    margin: 0;
}



//  HERO SECTION  =====================================================================================

.hero_content{
    justify-content: space-between;
}

.hero_img{  
    height: 400px;
}

.hello{
   margin-bottom: 15px;
}

.hero_name{
    font-size: 90px;
    letter-spacing: 0.02em;
    color: #ea4343;
    margin-bottom: 15px;
}

.hero_profession{
    margin-bottom: 20px;
}

.mail_icon{
    width: 18px;
    height: 18px;
    fill: white;
    vertical-align: middle;
    margin: -4px 0 0 6px;
}

.hero_btns{
   gap: 50px;
}
.hero_link{
    font-size: 18px;
    font-weight: 700;
    position: relative;
    &:after{
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        background: #ea4343;
        left: auto;
        right: 0;
        bottom: -2px;
        transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    }
    &:hover:after{
        width: 100%;
        left: 0;
        right: auto;
    }
}

.hero_img{
    width: 500px;
    height: 600px;
    object-fit: cover;
}




























// Responsive Header
@media (max-width: 1024px){
    .nav_list{
        // display: none;  
        position: fixed;
        top: 63px;
        right: 0;
        flex-direction: column; 
        justify-content: flex-start;
        gap: 20px;
        align-items: flex-end;
        background: rgb(71, 54, 54);
        max-width: 250px;
        width: 100%;
        height: 100vh;
        padding: 20px 20px;
        transform: translate(100%);
        transition: all 0.4s cubic-bezier(0.71, 0, 0.33, 1.46);
        overflow-y: auto;

        &.active{
            transform: translate(0%);
        }
    }
    .hamburger{
        display: block;
    }

}